h1{
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-container{
    display: flex;
    height: auto;
    align-items: center;  
}
.container{   
    display: flex;
    color: black;
    margin: 12px;
    padding: 20px;
    justify-content: center;
    width: 10px;
    font-size: 130px;
}
b{
    font-size:60px;
}

p{
    font-size: 130px;
}
sub{
    font-size: 16px !important;
}
#button{
    display: flex;
    justify-content: center;
}
#start,#stop,#reset{
    color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 1px;
    cursor: pointer;
    margin: 12px;
    padding: 20px;
}
/* body{
    width: 100%;
    height: auto;
    background-image: url(https://cdn.wallpapersafari.com/12/78/7C1Aw9.jpg);
} */