body{
    background-color: #fffdfd !important;
    color: black;
    text-align: center;
    font-size: xx-large;
} 

h1{
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    /* //changes */
    padding: 10px 0px 0px 0px;
}
#heading{
    display: flex; 
    justify-content: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0px 10px 0px 10px;
    /* border: 1px solid black;
    border-radius: 10px !important; */   
}
#box{
     /* margin-bottom: 15px;  */
     display: flex; 
     justify-content: center;   
}
#button{
    display: flex;
    justify-content: center;
}
#start,#stop,#reset{
    margin: 10px 0px 0px 10px ;
    color: rgb(255, 255, 255) ;
    width: 100px ;
    border-radius: 1px;
    cursor: pointer;
}
b{
    font-size: xx-large;
}